.rolldate-container header{
  height: 25px;
  line-height: 0;
  background-color: #f1f1f1;
}
.rolldate-container header span.rolldate-btn{
  height: 10px;
  line-height: 10px;
  padding: 8px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem !important;
  border-radius: 3px;
}
.rolldate-container header span.rolldate-cancel{
  border: 1px solid #aaa;
  left: 15px;
  background-color: #fff;
}
.rolldate-container header span.rolldate-confirm{
  right: 15px;
  color: #fff;
  background-color: rgb(67, 67, 241);
}
.rolldate-container ul.date-title{
  display: flex;
  background-color: #fafafa;
  height: 30px;
  position: absolute;
  border-bottom: 2px solid #eee;
  width: 100%;
  z-index: 50;
}
.date-title li {
  width: 33%;
  line-height: 30px;
  font-size: 1rem;
}
.rolldate-container .rolldate-content{
  background-color: rgb(222, 222, 222);
  top: 32px;
  height: 100%;
}
.rolldate-container div.mask-top{
  border-bottom: 1px solid #ccc;
  height: calc(33px * 2);
  top: 0px;
  background-image: linear-gradient(0deg, rgba(225, 225, 225, .4), rgba(225, 225, 225, 1));
}
.rolldate-container div.mask-bottom{
  top: 105px;
  bottom: 1px;
  border-top: 1px solid #ccc;
  height: 50%;
  background-image: linear-gradient(0deg, rgba(221, 221, 221, 1), rgba(221, 221, 221, .4));
}
.rolldate-container .rolldate-wrapper{
  background-color: #eaeaea;
  height: 100%;
}
.rolldate-container .rolldate-wrapper>div{
  height: 100% !important;
  font-size: 1rem !important;
} 


.ios-select-widget-box hr.cover-area1{
  top: 110px !important;
}
.ios-select-widget-box hr.cover-area2{
  top: 160px !important;
}